.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.page-title h2 {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 1.8rem;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 800;
}